<!DOCTYPE html>
<html lang="es">

{% include head.html %}

<body id="page-top">
  {% include nav-inner.html %}
  <header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Pedidos</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
  </header>
  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSf0jmc1rB4FAPIHhU3b-anfFtYI0EWyECpU_fe6fqGrNbnvUg/viewform?embedded=true" width="640" height="1342" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
  <div class="container">
      <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
              <div class="service-box">
                  <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                  <h3>¿Cómo pedir?</h3>
                  <p class="text-muted">Puedes hacer tu pedido via email, por whatsapp o llenando el formulario de abajo</p>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
              <div class="service-box">
                  <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                  <h3>¿Envían a toda Colombia?</h3>
                  <p class="text-muted">Sí, el envío dentro de Bogotá tiene un costo de 7000 y a otras ciudades de 14 000</p>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
              <div class="service-box">
                  <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                  <h3>¿Cómo pago?</h3>
                  <p class="text-muted">Puedes pagar en nequi, daviplata, transferencia o contraentrega (en Bogotá)</p>
              </div>
          </div>
        </div>
      </div>
  {% include contact.html %}
  {% include scripts.html %}
</body>

</html>
