<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Compra ahora</h2>
                <hr class="light">
                <p class="text-faded">Descubre nuestros modelos y catalogo de telas y haz tu pedido ya</p>
                <a href="/pedir/" class="btn btn-default btn-xl">Haz tu pedido!</a>
            </div>
        </div>
    </div>
</section>
