<!DOCTYPE html>
<html lang="es">

{% include head.html %}

<body id="page-top">
  {% include nav-inner.html %}
  <header>
    <div class="header-content">
        <div class="header-content-inner">
          <p style="padding-top:200pt"> </p>
          <p></p>
          <a href="#content" class="btn btn-primary btn-xl page-scroll">Ver {{page.name}}</a>
        </div>
    </div>
  </header>
    {% include collection-title.html %}
    <section id="content">
    <div class="container-fluid">
        <div class="row no-gutter">
          <div class="col-lg-4 col-sm-6">
            <img src="{{ page.main_image }}" class="img-responsive" alt="">
          </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutter">
          <div class="col-lg-4 col-sm-6">
            {{content}}
          </div>
        </div>
    </div>
    <p> </p>
  </section>
    {% include aside.html %}
    {% include contact.html %}
    {% include scripts.html %}
</body>

</html>
