<!DOCTYPE html>
<html lang="es">

{% include head.html %}

<body id="page-top">
  {% include nav-inner.html %}
  <header>
    <div class="header-content">
        <div class="header-content-inner">
          <header>
            <div class="header-content">
                <div class="header-content-inner">
                  <p style="padding-top:200pt"> </p>
                  <p></p>
                  <a href="#pijama" class="btn btn-primary btn-xl page-scroll">Ver {{page.title | capitalize}}</a>
                </div>
            </div>
          </header>
        </div>
    </div>
  </header>
  <section id=content>
    {% include collection-title.html %}
    {% include collection-gallery.html %}
</section>
  {% include contact.html %}
  {% include scripts.html %}
</body>
</html>
