<!DOCTYPE html>
<html lang="es">

{% include head.html %}

<body id="page-top">
  {% include nav-inner.html %}
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">Pedidos</h2>
              <hr class="primary">
          </div>
      </div>
      <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
              <div class="service-box">
                  <i class="fa fa-4x fa-exchange wow bounceIn text-primary"></i>
                  <h3>¿Cómo pedir?</h3>
                  <p class="text-muted">Puedes hacer tu pedido via email, por whatsapp o llenando <a href="/pedidos.html"> el formulario </a>. Una vez recibamos tu pedido, te enviaremos un link de pago. </p>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
              <div class="service-box">
                  <i class="fa fa-4x fa-paper-plane-o wow bounceIn text-primary"></i>
                  <h3>¿Envían a toda Colombia?</h3>
                  <p class="text-muted">Sí, el envío dentro de Bogotá tiene un costo de 7000 y a otras ciudades de 14 000</p>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
              <div class="service-box">
                  <i class="fa fa-4x fa-cc-mastercard wow bounceIn text-primary"></i>
                  <h3>¿Cómo pago?</h3>
                  <p class="text-muted">Puedes pagar en nequi, daviplata, con transferencia o contraentrega (en Bogotá)</p>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
              <div class="service-box">
                  <i class="fa fa-4x fa-female wow bounceIn text-primary"></i>
                  <h3>¿Cuál es mi talla?</h3>
                  <p class="text-muted">Mira nuestra guías de tallas abajo</p>
              </div>
          </div>
        </div>
      </div>
  {% include contact.html %}
  {% include scripts.html %}
</body>

</html>
